body {
  padding-top: 0px;
  font-family: 'Roboto', sans-serif;
}
@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
}

#header {
	position:relative;
	width:100%;
}

#header img{
	width:100%;
	height:100%;
}

#header a {
	color: white;
	text-decoration: none;
}

#title-div {
	position:absolute;
	bottom:0%;
	width:100%;
}

#title-div h1{
	position:absolute;
	padding: 18px 20px 18px 30px;
	bottom:0px;
	margin: 0px;
	width:100%;
	font-size:40px;
	font-weight:300;
	color:white;
	opacity: 1;
	background-image: linear-gradient(to right,rgba(0,0,0,0.4),rgba(255,255,255,0.2) 100%);
}

.section-header {
	text-align:center;
	color:#8C1515;
	font-size:40px;
	font-weight:300;
	padding: 40px 0px 10px 0px;
}

.section-container {
	padding-bottom:40px;
}

.section-subheader {
	text-align:center;
	color:#8C1515;
	font-size:40px;
	font-weight:300;
	margin: 20px 0px 20px 0px;
}

.logo-container {
	margin-top:20px;
	margin-bottom:35px;
	text-align:left;
}

.partner .logo-container {
	text-align: center;
}

.logo {
  	text-align: center;
  	margin-right:6px;
  	height:50px;
  	width:auto;
  	display: inline-block;
  	vertical-align: top;
}

.logo img{
  	height:100%;
  	width:auto;
}

#cerc-logo img {
	height:70px;
}

#pamf-logo img {
	height:65px;
}

.person-container {
	text-align:center;
}

.people-block {
	display: inline-block;
}

.person {
  	color: #555;
  	font-size: 12px;
  	text-align: center;
  	width: 160px;
  	display: inline-block;
  	vertical-align: top;
  	margin-bottom:10px;
}

.person img{
  	height: 120px;
  	border-radius: 100px;
  	border: 3px solid #FFF;
  	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
}

.partner-row {
	text-align: center;
}

.partner {
	display: inline-block;
	margin-left:25px;
	margin-right:25px;
}

.bio {
	margin-top:5px;
}

.bname {
	font-weight: 500;
	font-size: 12px;
	color: #333;
}

.title-box {
	padding-bottom:20px;
}

hr {
	border-top: 1px solid #ababab;
}

#newsdiv {
	background-color: #efefef;
	padding-bottom:20px;
	margin:0px;
	padding: 0px;
}

#projectsdiv {
	background-color: #efefef;
	padding-bottom:20px;
}

.project-container {
	margin-top:30px;
	margin-bottom:10px;
}

.project-pic {
	text-align: center;
	margin-bottom:10px;
	margin-top:10px;
	width:100%;
}

.project-pic img{
	width:100%;
	padding-top: 0px;
}

.project {
	margin-left:5px;
}

.project-title {
	margin-top: 0px;
	font-size:28px;
	font-weight:300;
	padding:0px;
	margin:0px;
}

.project-location {
	font-size:20px;
	font-weight:300;
	padding-bottom: 0px;
	margin-bottom:-5px;
	color: #898989;
}

.project-desc {
	padding-top: 15px;
}

.footer {
	text-align: center;
	padding:5px;
	height:30px;
	color: white;
	background-color: #333;
}

@media (max-width:480px) {
	#title-div h1{
		font-size:24px;
	}
	.section-header {
		font-size:24px;
	}
	.section-subheader {
		font-size:24px;
	}
	.project-title {
		font-size:24px;
	}
	.project-location {
		font-size:20px;
	}
	.logo {
		max-width:480px;
		height:40px;
		text-align: center;
	}
	.logo-container {
		text-align: center;
	}
	#cerc-logo img {
		height:60px;
	}
	#pamf-logo img {
		height:35px;
	}
}